/**
 * styles.css
 *
 * Contains css of all pages.
 *
 * index of this file:
 * - global css
 * - header
 * - session
 * - navpanel
 * - body
 * - footer
 * --------
 * - home
 * - settings
 * - your account
 * - shopping list
 * - finances
 */

/* -------------------- GLOBAL CSS -------------------- */
html, body {
    height: 100%;
    background-color: #525252;
    font-family: 'Raleway', sans-serif;
}

legend {
    color: white;
}

th {
    font-weight: 100;
}

table img {
    max-width: 30px; 
    max-height: 30px;
    display: block;
    margin: 0 auto;
}

.container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -150px; 
}

/* determines width of page */
.container, #header-container {
    max-width: 960px !important;
}

/* align navbar items with outer columns */
.container, #header-container, #nav-column {  
    padding-left: 0;
    padding-right: 0;
}

#dinner-column, .right-column  {
    padding-right: 0;
}
/* ./ align navbar items with outer columns */

/* panels */
.panel {
    border: 0;
}

.panel-heading {
    background-color: #525252;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 7em;
    color: white;   /* page title text color */
}

.panel-body {
    background-color: #525252;
    color: white;
}

.panel-header-title {
    width: 30%;
    float: left;
}

.tab-header {
    height: 100px;
    color: white;
}

/* ----- modals ----- */
.modal.custom .modal-header, 
.modal.custom .modal-footer {
    background-color: #B98860;
    border: 0;
}

.modal.custom .modal-body {
    color: white;
    background-color: #525252;
}

.modal.custom .modal-header {   
    /* prevent rounded corners to be overridden */
    padding:9px 15px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal.custom .modal-footer {
    margin-top: 0; /* prevents gap between modal-body and modal-footer */

    /* prevent rounded corners to be overridden */
    padding:9px 15px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* ----- custom button ----- */
.btn-custom {
  color: white;
  background-color: #B98860;
  border-color: #B98860;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
  color: white;
  background-color: #946c4c;
  border-color: #946c4c;
}
.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
  background-image: none;
}
.btn-custom.disabled,
.btn-custom[disabled],
fieldset[disabled] .btn-custom,
.btn-custom.disabled:hover,
.btn-custom[disabled]:hover,
fieldset[disabled] .btn-custom:hover,
.btn-custom.disabled:focus,
.btn-custom[disabled]:focus,
fieldset[disabled] .btn-custom:focus,
.btn-custom.disabled:active,
.btn-custom[disabled]:active,
fieldset[disabled] .btn-custom:active,
.btn-custom.disabled.active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom.active {
  background-color: #946c4c;
  border-color: #946c4c;
}
.btn-custom .badge {
  color: white;
  background-color: white;
}

/* -------------------- HEADER -------------------- */
#header-navbar, #session-dropdown-box, #login-dropdown {
    background-color: #B98860;  /* header & header dropdown background color */
}

/* header border */
#header-navbar {
    border: 0;
    border-bottom: 1px solid black;
}

#logo {
    /* makes logo fit in box */
    width: 29px;
    height: 29px;  
    margin-top: -6px;
}

#header-title {
    font-family: 'Londrina Sketch', cursive;
    font-size: 3em;
}

/* override navbar hyperlink color */
#header-title, .navbar-nav li a {
    color: black;
}

/* override navbar hyperlink hover color */
#header-title:hover {
    color: black;
}

/* -------------------- SESSION -------------------- */
#navigation-bar {
    margin-right: 0;
}

#session-dropdown {
    margin-right: 0;
}

/* dropdown box border */
#session-dropdown-box {
    border: 1px solid black;
}

/* session dropdown button hover color */
.navbar-nav > li > a:hover, 
.navbar-nav > li > a:focus {
    background-color: #946c4c;
}

/* session dropdown button onclick color */
.navbar-nav > .active > a, 
.navbar-nav > .active > a:hover, 
.navbar-nav > .active > a:focus,
.navbar-nav > .open > a,
.navbar-nav > .open > a:hover, 
.navbar-nav > .open > a:focus
{
    color: #000000;
    background-color: #946c4c;
}

#login-dropdown {
    width: 250px;
}

#login-form {
    padding: 17px;
    padding-bottom: 0;
}

#header-or {
    margin: 10px;
    margin-top: 15px;
}

/* -------------------- NAVPANEL -------------------- */
#nav-column {
    padding-left: 0;
}

/* navpanel background */
#nav-and-dorm {
    margin-top: 0;
    color: white;
}

#dorm-name {
    font-size: 1.3em;
    color: white;
    border: 10px solid #ffd700;

    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 20px; 
}

/* nav buttons */
#nav-tab-buttons li a {
    margin: 5px;
    color: white; /* overrides default hyperlink color */
    border: 2px solid white;
    border-radius: 7px;
}

#nav-tab-buttons .active a,
#nav-tab-buttons .active a:hover,
#nav-tab-buttons a:hover {
    color: #525252;
    background-color: white;
}
/* ./ nav buttons */

#roommates-panel {
    margin-top: 3em;
    font-size: 0.9em;
    word-wrap: break-word;
}

/* disable nav responsiveness */
.navbar-collapse.collapse {
    display: block!important;
}

/* disable nav pills responsiveness */ 
.navbar-nav>li, .navbar-nav {
    float: left !important;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.navbar-right {
    float: right!important;
}
/* ./ disable nav responsiveness *?

/* ----- ROOMMATES LIST ----- */
#roommates-list {
    margin-top: 2em;
    font-size: 0.9em;
    word-wrap: break-word;
    color: white;
}


/* -------------------- BODY -------------------- */
#middle {
    margin-top: 1em;
    margin: auto;
}

.control-label {
    font-weight: 100;
}


/* -------------------- FOOTER -------------------- */
#footer, .push {
    height: 150px;
}

#footer
{
    background-color: #525252;
    color: #C2C2C2;
}

#row-footer {
    /* prevents footer from exceeding max width */
    margin: 0 auto;
}

#middle .form-control   
{
    /* center form controls */
    display: inline-block;
}


/* -------------------- HOME -------------------- */
#home {
    background-color: #525252;
    height: 700px;
}

#home-header {
    font-family: 'Londrina Sketch', cursive;
}

#home-header h1 {
    font-size: 10em;
}

#home-body {
    color: white;
    padding: 10%;
}


/* -------------------- YOUR ACCOUNT -------------------- */
#account-page {
    color: white;
}


/* -------------------- DINNER -------------------- */
#dinner-panel {
    min-width: 100%;
}

#dinner-row {
    line-height: 50px;
    min-height: 50px;
    height: 50px;
}
 
#dinner-table th, 
#dinner-table td {
    color: white;
}

#dinner-table th {
    text-align: center;
    font-size: 0.95em;  /* prevents dates from expanding outside panel */
}

#dinner-table td {
    border: 0;
}

#rm-names {
    vertical-align: middle;
    max-width: 120px;
    word-wrap: break-word;
}

/* ----- modal ----- */
#dinner-modal-body {
    /* prevents modal body from overflowing modal */
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

/* custom dinner button */
.btn-custom-dinner {
  color: white;
  background-color: transparent;
  border-color: transparent;
}
.btn-custom-dinner:hover,
.btn-custom-dinner:focus,
.btn-custom-dinner:active,
.btn-custom-dinner.active,
.open .dropdown-toggle.btn-custom-dinner {
  color: black;
  background-color: white;
  border-color: white;
  border-radius: 0;
}
.btn-custom-dinner:active,
.btn-custom-dinner.active,
.open .dropdown-toggle.btn-custom-dinner {
  background-image: none;
}
.btn-custom-dinner.disabled,
.btn-custom-dinner[disabled],
fieldset[disabled] .btn-custom-dinner,
.btn-custom-dinner.disabled:hover,
.btn-custom-dinner[disabled]:hover,
fieldset[disabled] .btn-custom-dinner:hover,
.btn-custom-dinner.disabled:focus,
.btn-custom-dinner[disabled]:focus,
fieldset[disabled] .btn-custom-dinner:focus,
.btn-custom-dinner.disabled:active,
.btn-custom-dinner[disabled]:active,
fieldset[disabled] .btn-custom-dinner:active,
.btn-custom-dinner.disabled.active,
.btn-custom-dinner[disabled].active,
fieldset[disabled] .btn-custom-dinner.active {
  background-color: #946c4c;
  border-color: #946c4c;
}
.btn-custom-dinner .badge {
  color: white;
  background-color: white;
}

.dinner-button {
    width: 100%;
}

.dinner-modal-icon {
    height: 60px;
}

#dinner-button-label-column {
    margin-left: 0; /* moves action 'labels' closer to buttons */
}

.dinner-button-label {
   height: 75px; /* matches button height */
}

.dinner-button-label p {
    padding-top: 2em; /* vertically align action 'labels' */
}


/* -------------------- SHOPPING LIST -------------------- */

/* ----- SHOPLIST ----- */
#shoplist {
    margin: auto;
}

#shoplist-form {
    line-height: 5px;
}

#shoplistitems {
    max-height: 500px;
    overflow: auto;
    margin-top: 1em;
    padding-left: 7px;
    list-style: none;
}

#shoplistitems li {
    margin-bottom: 30px;
}

.shoplist-item-name,
.shoplist-checkmark-done {
    color: white;
}

.shoplist-item-name {
    font-size: 1.5em;
}

.shoplist-item-data {
    color: #A8A8A8;
    font-size: 0.9em;
}

.text-holder {
    word-wrap: break-word;
}

.checkmark-todo, 
.checkmark-done {
    margin-top: 2em;
}

.checkmark-done {
    margin-right: 13px;
}

/* ----- BUYER RANKINGS ----- */
#shoplist-scoreboard td {
    border: 0;
    max-width: 90px;
    word-wrap: break-word;
    color: white;
    padding: 5px;
    margin: 0;
    padding-bottom: 0;
    vertical-align: bottom;
}

.shoplist-scoreboard-rank {
    width: 10px;
    font-weight: bold;
}

/* make name and score slightly smaller than rank no. */ 
.shoplist-scoreboard-name, 
.shoplist-scoreboard-score {
    font-size: 0.9em;
}

.shoplist-scoreboard-score {
    text-align: right;
}


/* -------------------- FINANCES -------------------- */

/* ----- LIST OF ITEMS ----- */
#add-spend-button {
    /* levels button text with title */
    margin-top: -7px;
}

#spendstable {
    width: 100%;
    color: white;
}

#spendstable thead, 
#spendstable tbody, 
#spendstable tr,
#spendstable td,
#spendstable th {
    display: block;
}

#spendstable tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

#spendstable tbody {
    overflow-y: auto;
    height: 400px;
}

#spendstable th, #spendstable td { 
    border-color: #5C5C5C; 
}

#spendstable tbody td, #spendstable thead th {
    float: left;
    word-wrap: break-word;
}

.td-date {
    width: 20%;
}

.td-spendname {
    width: 50%;
}

.td-whopaidwhat {
    width: 28%;
    text-align: right;
}

.td-date {
    font-size: 0.8em;
}

.td-spendname {
    font-size: 1.3em;
}

.td-whopaidwhat {
    font-size: 0.9em;
}

/* ----- BALANCES ----- */
#rm-balances th, #rm-balances td {
    border: 0;
    max-width: 80px;
    min-width: 70px;
    word-wrap: break-word;
    font-size: 0.9em;
    padding: 5px;
    margin: 0;
}

/* rm-balances colors */
.negative-balance td {
    color: red;
}

.positive-balance td {
    color: #2FDE34;
}

.neutral-balance  td {
    color: white;
}
/* ./ rm-balances colors */