/**
 * styles.css
 *
 * Contains css of all pages.
 *
 * index of this file:
 * - global css
 * - header
 * - session
 * - navpanel
 * - body
 * - footer
 * --------
 * - home
 * - dinner
 * - shopping list
 * - finances
 */

/* ---------- GLOBAL CSS ---------- */
html, body {
    height: 100%;
    background-color: #525252;
    font-family: 'Raleway', sans-serif;
}

legend {
    color: white;
}

th {
    font-weight: 100;
}

table img {
    max-width: 30px; 
    max-height: 30px;
    display: block;
    margin: 0 auto;
}

.container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -150px; 
}

/* determines width of page */
.container, #header-container {
    max-width: 960px !important;
}

/* align navbar items with outer columns */
.container, #header-container, #nav-column {  
    padding-left: 0;
    padding-right: 0;
}

#dinner-column, .right-column  {
    padding-right: 0;
}
/* ./ align navbar items with outer columns */

/* panels */
.panel {
    border: 0;
}

.panel-heading {
    background-color: #525252;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 7em;
    color: white;   /* page title text color */
}

.panel-body {
    background-color: #525252;
    color: white;
}

.panel-header-title {
    width: 30%;
    float: left;
}

.tab-header {
    height: 100px;
    color: white;
}

/* ---------- HEADER ---------- */
#header-navbar, #session-dropdown-box, #login-dropdown {
    background-color: #B98860;  /* header & header dropdown background color */
}

/* header border */
#header-navbar {
    border: 0;
    border-bottom: 1px solid black;
}

/* dropdown box border */
#session-dropdown-box {
    border: 1px solid black;
}

/* session dropdown button hover color */
.navbar-nav > li > a:hover, 
.navbar-nav > li > a:focus {
    background-color: #946c4c;
}

/* session dropdown button onclick color */
.navbar-nav > .active > a, 
.navbar-nav > .active > a:hover, 
.navbar-nav > .active > a:focus,
.navbar-nav > .open > a,
.navbar-nav > .open > a:hover, 
.navbar-nav > .open > a:focus
{
    color: #000000;
    background-color: #946c4c;
}

#logo {
    /* makes logo fit in box */
    width: 29px;
    height: 29px;  
    margin-top: -6px;
}

#header-title {
    font-family: 'Londrina Sketch', cursive;
    font-size: 3em;
}

/* override navbar hyperlink color */
#header-title, .navbar-nav li a {
    color: black;
}

/* override navbar hyperlink hover color */
#header-title:hover {
    color: black;
}

#login-dropdown {
    width: 250px;
}

#login-form {
    padding: 17px;
    padding-bottom: 0;
}

#header-or {
    margin: 10px;
    margin-top: 15px;
}

/* ---------- SESSION ---------- */
#navigation-bar {
    margin-right: 0;
}

#session-dropdown {
    margin-right: 0;
}

/* ---------- NAVPANEL ---------- */
#nav-column {
    padding-left: 0;
}

/* navpanel background */
.nav-pills {
    padding: 10%;
    background-color: #B98860;
    border-radius: 1em;
}

.nav-pills a {
    color: black;
}

#nav-tab-buttons .active a,
#nav-tab-buttons .active a:hover,
#nav-tab-buttons a:hover {
    color: black;
    background-color: #946c4c;
}

#roommates-panel {
    margin-top: 3em;
    font-size: 0.9em;
    word-wrap: break-word;
}

/* disable nav responsiveness */
.navbar-collapse.collapse {
    display: block!important;
}

/* disable nav pills responsiveness */ 
.navbar-nav>li, .navbar-nav {
    float: left !important;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.navbar-right {
    float: right!important;
}
/* ./ disable nav responsiveness

/* ---------- BODY ---------- */
#middle {
    margin-top: 1em;
    margin: auto;
}

.control-label {
    font-weight: 100;
}

/* ---------- FOOTER ---------- */
#footer, .push {
    height: 150px;
}

#footer
{
    background-color: #525252;
    color: #C2C2C2;
}

#row-footer {
    /* prevents footer from exceeding max width */
    margin: 0 auto;
}

#middle .form-control   
{
    /* center form controls */
    display: inline-block;
}

/* ---------- HOME ---------- */
#home {
    background-color: #525252;
    height: 700px;
}

#home-header {
    font-family: 'Londrina Sketch', cursive;
}

#home-header h1 {
    font-size: 10em;
}

#home-body {
    color: white;
    padding: 10%;
}

/* ---------- DINNER ---------- */
#dinner-panel {
    min-width: 100%;
}

#dinner-row {
    line-height: 50px;
    min-height: 50px;
    height: 50px;
}
 
#dinner-table th, 
#dinner-table td {
    color: white;
}

#dinner-table th {
    text-align: center;
    font-size: 0.95em;  /* prevents dates from expanding outside panel */
}

#dinner-table td {
    border: 0;
}

#rm-names {
    vertical-align: middle;
    max-width: 120px;
    word-wrap: break-word;
}


/* ---------- SHOPPING LIST ---------- */

/* ----- SHOPLIST ----- */
#shoplist {
    margin: auto;
}

#shoplist-form {
    line-height: 5px;
}

#shoplistitems {
    max-height: 500px;
    overflow: auto;
    margin-top: 1em;
    padding-left: 7px;
    list-style: none;
}

#shoplistitems li {
    margin-bottom: 30px;
}

.shoplist-item-name,
.shoplist-checkmark-done {
    color: white;
}

.shoplist-item-name {
    font-size: 1.5em;
}

.shoplist-item-data {
    color: #A8A8A8;
    font-size: 0.9em;
}

.text-holder {
    word-wrap: break-word;
}

.checkmark-todo, 
.checkmark-done {
    margin-top: 2em;
}

.checkmark-done {
    margin-right: 13px;
}

/* ----- BUYER RANKINGS ----- */
#shoplist-scoreboard td {
    border: 0;
    max-width: 90px;
    word-wrap: break-word;
    color: white;
    padding: 5px;
    margin: 0;
    padding-bottom: 0;
    vertical-align: bottom;
}

.shoplist-scoreboard-rank {
    width: 10px;
}

/* make name and score slightly smaller than rank no. */ 
.shoplist-scoreboard-name, 
.shoplist-scoreboard-score {
    font-size: 0.9em;
}


/* ---------- FINANCES ---------- */

/* ----- LIST OF ITEMS ----- */
#add-spend-button {
    /* levels button text with title */
    margin-top: -7px;
}

#spendstable {
    width: 100%;
}

#spendstable thead, 
#spendstable tbody, 
#spendstable tr,
#spendstable td,
#spendstable th {
    display: block;
}

#spendstable tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

#spendstable tbody {
    overflow-y: auto;
    height: 400px;
}

#spendstable th, #spendstable td { 
    border-color: #5C5C5C; 
}

#spendstable tbody td, #spendstable thead th {
    float: left;
    word-wrap: break-word;
}

#th-date, .td-date {
    width: 20%;
}

#th-spendname, .td-spendname {
    width: 50%;
}

#th-whopaidwhat, .td-whopaidwhat {
    width: 28%;
}

.td-date {
    font-size: 0.8em;
}

.td-spendname {
    font-size: 1.3em;
}

.td-whopaidwhat {
    font-size: 0.9em;
}

/* ----- BALANCES ----- */
#rm-balances th, #rm-balances td {
    border: 0;
    max-width: 80px;
    min-width: 70px;
    word-wrap: break-word;
    font-size: 0.9em;
    padding: 5px;
    margin: 0;
}

/* rm-balances colors */
.negative-balance {
    color: red;
}

.positive-balance {
    color: #2FDE34;
}

.neutral-balance {
    color: white;
}
/* ./ rm-balances colors */